<div class="container border my-3 p-0">
  <div class="bg-primary text-white rounded p-3 page-header">
    <h2 class="page-title">
      {{'weather.title' | translate}}
    </h2>

    <form [formGroup]="forecastForm">
      <div class="location-group">
        <select id="location" class="custom-select" formControlName="location"
          title="Select location to search weather for"
          (change)="getWeather(controls.location.value)">
          <option>{{'weather.select.placeholder' | translate}}</option>
          <option *ngFor="let location of locations | async">
            {{ location }}
          </option>
        </select>
      </div>
    </form>
  </div>

  <div *ngIf="!data" class="row">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5">{{"weather.search.data.noresults.panel.title" | translate}}</h1>
      <p class="lead">{{"weather.search.data.noresults.panel.message" | translate}}</p>
    </div>
  </div>

  <div *ngIf="data" class="m-2">
    <app-weather-detail [location]="controls.location.value" [data]="data">
    </app-weather-detail>
  </div>
</div>
